bindings {
  a {
    description: Code Actions
    bindings {
        r {actionId: RenameElement, description: Rename}
    }
  }
  b {
    description: Buffer...
    bindings {
      d {actionId: CloseEditor, description: Close Current Buffer}
    }
  }
  f {
    description: File
    bindings {
      n {actionId: NewFile, description: Create File}
      f {actionId: Find, description: Find...}
      r {actionId: RenameFile, description: Rename File}
    }
  }
  g {
      description: Git
      bindings {
        b {actionId: Git.Branches, description: Branches}
        f {actionId: Git.Fetch, description: Git Fetch}
        u {actionId: Vcs.UpdateProject, description: Update Project}
        s {actionId: CheckinProject, description: Git Status}
        p {actionId: Vcs.Push, description: Push}
        m {actionId: Git.Pull, description: Git Pull}
      }
  }
  m {
    description: Major...
    bindings {
      a {actionId: RefactoringMenu, description: Refactor this...}
      d {actionId: Debug, description: Debug}
      g {
        description: Go To
        bindings {
          b {actionId: Back, description: Go Back}
          f {actionId: Forward, description: Go Forward}
          d {actionId: GotoDeclaration, description: Go To Declaration}
          i {actionId: GoToImplementation, description: Go To Implementation(s)}
        }
      }
      c {
        description: Compile/Run...
        bindings {
          a {actionId: RunAnything, description: Run Anything...}
          r {actionId: ReRun, description: Rerun last build}
        }
      }
      r {actionId: [ReformatCode, OptimizeImports], description: Reformat and OptimizeImports}
      n {actionId: NewClass, description: Create New Class}
    }
  }
  p {
    description: Project
    bindings {
      f {actionId: SearchEverywhere, description: Search Everywhere}
      o {actionId: OpenFile, description: Open...}
    }
  }
  F12 {actionId: CloseProject, description: Close Project}
  F5 {actionId: ReloadAtamanConfigAction, description: Reload ~/.atamanrc.config File}
  c {actionId: OpenAtamanConfigAction, description: Open Ataman Config}
  s {actionId: VimFindActionIdAction, description: Switch ActionId Track}
}
