# HOCON format
# This is a configuration file for Ataman, a Vim-like keymap for IntelliJ IDEA.
# It defines key bindings for various actions in the IDE.
bindings {  
  a {
    description: Code Actions
    bindings {
        r {actionId: RenameElement, description: Rename}
        o {actionId: OverrideMethods, description: Override Methods}
        g {actionId: AIAssistant.Editor.AskAiAssistantInEditor, description: Generate Code}
    }
  }
  b {
    description: Buffer...
    bindings {
      d {actionId: [CloseEditor, CloseContent], description: Close Current Buffer}
    }
  }
  c {
    description: Comment
    bindings {
      l {actionId: CommentByLineComment, description: Comment Line}
    }
  }
  f {
    description: File
    bindings {
      e {actionId:TextEditorWithPreview.Layout.EditorOnly, description: Switch To Edit Window}
      n {actionId: NewFile, description: Create File}
      f {actionId: Find, description: Find...}
      r {actionId: RenameFile, description: Rename File}
      p {actionId: TextEditorWithPreview.Layout.PreviewOnly, description: Switch To Preview Window}
      s {actionId: SaveAll, description: Save Current Buffer}
    }
  }
  d {
    description: Dir
    bindings {
      n {actionId: NewDir, description: New Dir}
      o {actionId: OpenFile, description: Open Dir}
    }
  }
  g {
      description: Git
      bindings {
        b {actionId: Git.Branches, description: Branches}
        c {actionId: Git.Commit, description: Git Commit}
        d {actionId: Compare.SameVersion, description: Show Diff}
        f {actionId: Git.Fetch, description: Git Fetch}
        g {actionId: Vcs.LLMCommitMessageAction, description: AI Commit Generate}
        h {actionId: ActivateVersionControlToolWindow, description: Show Git Log}
        u {actionId: Vcs.UpdateProject, description: Update Project}
        s {actionId: CheckinProject, description: Git Status}
        m {actionId: Git.Pull, description: Git Pull}
        x {actionId: Git.Commit.And.Push.Executor, description: Commit and Push}
        p {actionId: Vcs.Push, description: Git Push}
      }
  }
  m {
    description: Major...
    bindings {
      a {actionId: RefactoringMenu, description: Refactor this...}
      d {
        description: Debug...
        bindings {
          d {actionId: Debug, description: Debug}
          r {actionId: [Stop, Debug], description: Restart Debug}
          s {actionId: [Stop, Stop], description: Stop}
        }
      }
      g {
        description: Go To
        bindings {
          b {actionId: Back, description: Go Back}
          f {actionId: Forward, description: Go Forward}
          d {actionId: GotoDeclaration, description: Go To Declaration}
          i {actionId: GotoImplementation, description: Go To Implementation(s)}
          s {actionId: FileStructurePopup, description: Show Class Symbols}
        }
      }
      c {
        description: Compile/Run...
        bindings {
          a {actionId: RunAnything, description: Run Anything...}
          r {actionId: ReRun, description: Rerun last build}
        }
      }
      r {actionId: [ReformatCode, OptimizeImports], description: Reformat and OptimizeImports}
      n {actionId: NewClass, description: Create New Class}
      m {
        description: Maven...
        bindings {
          r {actionId: Maven.SyncIncrementally, description: Sync Maven Project}
        }
      }
    }
  }
  w {
    description: Window...
    bindings {
      b {actionId: ActivateBuildToolWindow, description: Build Window}
      d {actionId: ActivateDebugToolWindow, description: Debug Window}
      h {actionId: HideActiveWindow, description: Hide Current Window}
      m {actionId: ActivateMavenToolWindow, description: Maven Window}
      p {actionId: ActivateProjectToolWindow, description: Activate Project Window}
      r {actionId: ActivateRunToolWindow, description: Run Window}
      / {actionId: SplitVertically, description: Split Vertically}
    }
  }
  p {
    description: Project
    bindings {
      f {actionId: SearchEverywhere, description: Search Everywhere}
      o {actionId: OpenFile, description: Open...}
    }
  }
  F12 {actionId: CloseProject, description: Close Project}
  F5 {actionId: ReloadAtamanConfigAction, description: Reload ~/.atamanrc.config File}
  F6 {actionId: OpenAtamanConfigAction, description: Open Ataman Config}
  F7 {actionId: VimFindActionIdAction, description: Switch ActionId Track}
}